/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: 'casperregular';
		font-size: 16px;		
	}

	.clearfix:after{
		clear:both;
		content:' ';
		display:block;
		font-size:0;
		line-height:0;
		visibility:hidden;
		width:0;
		height:0;
	}

	a {
		text-decoration: none; 
	}

	* html .clearfix,*:first-child+html .clearfix{zoom:1}

	@font-face {
    font-family: 'casperregular';
    src: url('../fonts/casper-webfont.eot');
    src: url('../fonts/casper-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/casper-webfont.woff') format('woff'),
         url('../fonts/casper-webfont.ttf') format('truetype'),
         url('../fonts/casper-webfont.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

	@font-face {
	    font-family: 'nunitolight';
	    src: url('../fonts/nunito-light-webfont.eot');
	    src: url('../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/nunito-light-webfont.woff') format('woff'),
	         url('../fonts/nunito-light-webfont.ttf') format('truetype'),
	         url('../fonts/nunito-light-webfont.svg#nunitolight') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('../fonts/MYRIADPROREGULAR.eot');
	src: url('../fonts/MYRIADPROREGULAR.eot?#iefix') format('embedded-opentype'),
	src: local('MYRIADPROREGULAR'), url('../fonts/MYRIADPROREGULAR.woff') format('woff'), url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');
}

	@font-face {
		font-family: 'Nunito-Bold';
		src: url('../fonts/Nunito-Bold.eot?') format('eot'), 
		     url('../fonts/Nunito-Bold.woff') format('woff'), 
		     url('../fonts/Nunito-Bold.ttf')  format('truetype'),
		     url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
	}


	@font-face {
	    font-family: 'nunitoregular';
	    src: url('../fonts/nunito-regular-webfont.eot');
	    src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/nunito-regular-webfont.woff') format('woff'),
	         url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
	         url('../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	#top-navbar {
		background: #000;
		color: #fff;
		padding: 10px 0;
	}

	.top-support {
		font-size: 12px;
	}

	.sup-num {
		color: #0093dd !important;
		font-size: 18px;
	}

	#top-navbar p a {
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		text-decoration: none;
		margin-left: 20px;
	}

	.top-adj {
		margin-top: 6px;
	}

	a.blue-link , .blue-link {
		color: #0093dd !important;
	}

	a.green-link {
		color: #62a70f !important;
	}

	.right-nav {
		float: right;
	}

	#navbar {
		height: 75px;
	}

	.logo {
		padding: 15px 0;
		float: left;
		height: 45px;
	}

	.logo a {
		margin-left: 0px !important;
	}

	#section1 {
		background: url(../img/section1.jpg) no-repeat;
		height: 544px;
	}

	#section2 { 
		background: #1e1e1e;
		height: 300px;
	}

	.nav-dropdown {
		padding: 26px 0;
	}

	.nav-dropdown a {

	}

	.tagline {
		color: #fff;
		text-transform: uppercase;
		line-height: 42px;
		font-size: 36px;
		background: #0093dd;
		padding: 20px 10px;
		display: inline-block;
		margin-top: 90px;
	}

	.learn-more {
		width: 338px;
		background: #0052af;
		color: #fff;
		padding: 30px 23px;
		line-height: 29px;
		font-size: 18px;
	}

	.learn-more a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		margin-top: 20px;
		border: 2px solid #fff;
		border-radius: 3px;
		padding: 10px 15px;
		text-transform: uppercase;
	}

	.get-domain, .order-dmn {
		font-size: 36px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		margin: 50px 0 20px;
	}

	.domain-search {
		border: 2px solid #0093dd;
		font-family: 'casperregular';
		font-size: 26px;
		width: 530px;
		float: left;
		display: inline-block;
		margin-bottom: 8px;
		background: #fff;
		border-radius: 2px;
	}

	.desk-mobile {
		display: none;
	}

	.www {
		float: left;
		color: #262626;
		padding-left: 20px;
		padding-top: 11px;
	}

	.domain-search input[type="text"] {
		border: none;
		width: 80%;
		padding-left: 5px;
		height: 45px;
		font-family: 'casperregular';
		color: #262626;
		float: left;
		outline: none;
		font-size: 26px;
	}

	#section2 select {
		float: left;
		font-family: 'casperregular';
		font-size: 24px;
		border: 2px solid #0093dd;
		border-radius: 2px;
		outline: none;
		color: #262626;
		margin-left: 5px;
		height: 51px;
		margin-top: 0px;
		padding-bottom: 3px;
		padding-left: 6px;
		width: 100px;
		background: #fff url(../img/down-arrow.png) no-repeat;
		background-position: 76px 18px;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		text-align: center;
	}


	#section2 input[type="submit"] {
		font-size: 18px;
		color: #fff;
		-webkit-appearance:none;
		text-transform: uppercase;
		font-family: 'casperregular';
		background: #0093dd;
		border: none;
		outline: none;
		margin-left: 10px;
		margin-top: 0px;
		padding: 16px 40px;
		border-radius: 2px;
	}

	.search-ctn {
		width: 534px;
		float: left;
	}

	.search-ctn label, .desk-mobile label {  
	    display: inline-block;  
	    cursor: pointer; 
	    width: 160px;
	    font-family: 'casperregular';
	    color: #fff; 
	    position: relative;  
	    padding-left: 5px;  
	    margin-right: 25px;  
	    font-size: 16px;  
	}  

	input[type=radio] {  
	    display: none;  
	}  

	

	#section3 {
		margin: 70px auto;
	}

	.worldclass {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #0093dd;
	margin-bottom: 20px;
	}

	.offering  {
		color: #000;
		font-size: 18px;
		text-align: center;
		line-height: 26px;
	}

	.service-logo {
		text-align: center;
		margin-top: 40px;
	}
	
	.service-logo img {
		
	}

	.client-logo {
		text-align: center;
		margin-top: 25px;
	}

	#section4 {
		overflow: hidden;
	}

	#section5 {
		background: #1e1e1e;
		color: #fff;
		text-align: center;
	}

	#section5 p {
		color: #fff;
		padding: 37px 0;
		font-size: 24px;
	}

	#section5 p span {
		color: #0093dd;
	}

	#footer {
		background: #363636;
		padding: 70px 0 0;
	}

	.ft-hd {
		color: #fff;
		text-transform: uppercase;
		font-family: 'casperregular';
		font-size: 14px;
		margin-bottom: 15px;
	}

	.footcol {
		width: initial;
		float: left;
		margin-right: 50px;
	}

	#footer ul  {
		margin: 0;
		padding: 0;
	}

	#footer ul li {
		text-decoration: none;
		margin-bottom: 10px;
		list-style: none;
	}

	#footer ul li a {
		text-decoration: none;
		color: #999999;
		font-size: 12px;
		text-transform: uppercase;
	}

	.footright img {
		margin-left: 15px;
	}

	.footright {
		float: right;
	}

	.footer-links {
		border-bottom: 1px solid #636363;
		padding-bottom: 50px;
	}

	.copyright {
		padding: 40px 0;
	}

	.copyright p {
		font-size: 12px;
		color: #fff;
		float: left;
		margin-top: 6px;
	}

	.copy-link {
		float: left;
		margin-left: 20px;
	}

	.copy-link a {
		text-decoration: none;
		color: #999;
		font-size: 12px;
		margin-left: 20px;
	}

	.social {
		float: right;
	}

	.social img {
		margin-left: 20px;
	}

	#payment {
		text-align: center;
		padding: 30px 0 20px;
		background: #fff;
	}

	.h {
		position: absolute;
		left: 990px;
		top: 115px;
		display: none;
		background: #363636;
	}

	.h ul li a {
		color: #999;
		display: block;
		height: 20px;
		width: 200px;
		padding: 10px 0;
		margin-left: 0px !important;
	}

	.h ul li {
		list-style: none;
	}

	.h ul {
		margin: 0;
		padding: 0;
	}
	
/* main menu styles */


.right-nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
.right-nav ul li {
  font-family: 'casperregular';
  font-size: 16px;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 28px 20px 29px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.right-nav ul li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.right-nav ul li:hover {
  background: #555;
  color: #fff;
}
.right-nav ul li ul {
  padding: 0;
  position: absolute;
  top: 73px;
  left: 0;
  width: 210px;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.right-nav ul li ul li { 
  background: #555; 
  display: block; 
  padding: 15px 20px;
  color: #fff;
  text-transform: uppercase;
}
.right-nav ul li ul li:hover { background: #666; }
.right-nav ul li ul {
  
  opacity: 1;
  visibility: visible;
}

#radio-demo {
	float: left;
	position: absolute;
	margin-top: 60px;
}

#radio-demo input[type="radio"] {
   position:absolute;
   opacity: 0;
   -moz-opacity: 0;
   -webkit-opacity: 0;
   -o-opacity: 0;
}

#radio-demo input[type="radio"] + label {
  	position: relative;
	font-size: 14px;
	color: #fff;
	float: left;
	margin-right: 20px;
	font-family: 'casperregular';
	line-height: 17px;
}

#radio-demo input[type="radio"] + label:before {
	content: "";
	display: block;
	float: left;
	top: 1px;
	height: 12px;
	margin-right: 5px;
	width: 12px;
	border: 2px solid #0093dd;
	box-shadow: inset 0px 0px 0px 2px #1e1e1e;
	-webkit-box-shadow: inset 0px 0px 0px 3px #1e1e1e;
	-moz-box-shadow: inset 0px 0px 0px 2px #1e1e1e;
	-o-box-shadow: inset 0px 0px 0px 2px #1e1e1e;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}
#radio-demo input[type="radio"]:checked + label:before {
   background: #0093dd;
}

#footermobile, .navbarmobile, #mobilemenunav {
	display: none;
}








/* ============================= */
/* !Domains Page */
/* ============================= */

#section-domains {
	background: url(../img/domains-bg.jpg);
	height: 297px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

#domain-price {
	margin: 50px auto;
}

.domain-banner {
	border: 1px solid #898989;
	margin: 0px 0px 50px;
}

.table-head {
	background-color: #008fdd;
	border-bottom: 4px solid #006196;
} 

.dmn-name, .reg-fee, .rnw-fee, .trn-fee, .view {
	float: left;
	color: #fff;
	padding: 20px 0;
	text-transform: uppercase;
}

.view {
	padding: 10px 0 0 0;
}

.trn-last {
	width: 15% !important;
}

.dmn-name {
	width: 28%;
	margin-left: 2%;
}

.small-header {
color: #0093dd;
font-size: 24px;
text-transform: uppercase;
}

.reg-fee, .rnw-fee, .trn-fee {
	width: 20%;
	text-align: left;
}

.table-body .dmn-name, .table-body .reg-fee, .table-body .rnw-fee, .table-body .trn-fee, .table-body .view  {
	color: #669900;
}

.odd {
	background: #d7d7d7;
}

.even {
	background: #ebebeb;
}

.table-ctn {
	font-size: 14px;
}
.strikeout {
	text-decoration: line-through;
	color: #c63932;
}

.order-dmn {
	margin: 20px 0 20px;
	color: #2b2b2b;
	line-height: 42px;
}

.hot-now {
	padding: 50px 40px;
}

.hot-now-img {
	margin-top: 40px;
}

.order-dmn span {
	color: #669900;
}

.btn {
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	padding: 15px 20px;
}

.btn-blue {
	background: #0093dd;
}

.btn-green {
	background: #669900;
}

.btn-small {
	padding: 10px 15px;
}

.page-title {
	display: inline-block;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 119, 167, 0.59);
	padding: 20px 20px;
	width: 300px;
	margin-top: 160px;
}




/*** Slider ****/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }





/* ============================= */
/* !Hosting Page */
/* ============================= */

#section-hosting {
	background: url(../img/hosting-bg.jpg);
	height: 297px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}


}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}





@media handheld, only screen and  (min-width: 768px) and (max-width: 1024px) {

}


@media handheld, only screen and (max-width: 1024px) {

	.tagline {
		font-size: 35px;
	}

	.client-logo {
		width: 90%;
		margin: 25px auto 0;
	}

	.footcol {
		margin-right: 20px;
	}

	#payment {
		padding: 20px 0 10px;
	}

}

@media handheld, only screen and (max-width: 980px) {
	.right-nav {
		display: none;
	}
}

@media handheld, only screen and (max-width: 320px) {
	#top-navbar, #navbar {
		display: none;
	}

	.navbarmobile {
		background: #fff;
		padding: 10px 0;
	}

	.logomob {
		float: left;
		padding-left: 15px;
		padding-top: 10px;
	}

	.logomob img {
		max-width: 60%;
	}

	.tagline {
		font-size: 20px;
		line-height: 24px;
		margin-top: 50px;
		padding: 10px 10px;
	}

	.learn-more {
		width: inherit;
		padding: 15px 10px;
		line-height: 22px;
		font-size: 15px;
	}

	.learn-more a {
		padding: 8px 10px;
	}

	.get-domain {
		font-size: 16px;
		margin: 40px 0 20px;
	}

	#mobilemenunav {
		top: 64px !important;
	}

	

	.domain-search input[type="text"] {
		width: 79%;
		padding-left: 4px;
		height: 40px;
		font-size: 16px;
	}

	.domain-search {
		float: none;
		width: 100%;
	}

	.domain-search {
 		margin-bottom: 2px;
 	} 

 	#section2 input[type="submit"] {
		float: left;
		margin-right: 0;
		margin-top: 80px;
		margin-left: -100px;
		font-size: 14px;
		padding: 10px 15px;
	}

	.www {
		font-size: 16px;
		padding-left: 5px;
		padding-top: 10px;
	}

	#section2 select {
		font-size: 21px;
		margin-left: 0px;
		height: 37px;
		width: 100px;
		background-position: 70px 11px;
	}

	#radio-demo {
		margin-top: 105px;
	}

	#radio-demo input[type="radio"] + label {
		font-size: 12px;
	}

	.search-ctn {
		width: 98%;
		float: left;
	}

	.worldclass {
		font-size: 18px;
		text-align: left;
		margin-bottom: 10px;
	}

	#section1 {
		height: 430px;
	}

	#section3 {
		margin: 40px auto;
	}

	.offering {
		color: #000;
		font-size: 14px;
		text-align: left; 
		line-height: 20px;
	}

	.client-logo {
		width: 100%;
		margin: 25px auto 0; 
	}

	#section5 p {
		padding: 14px 0;
		font-size: 14px;
	}

	.footer-links {
		display: none;
	}

	.copyright {
		display: none;
	}

	#payment {
		display: none;
	}

	#footer {
		padding: 30px 0 0;
	}

	#footermobile p {
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}

	#footermobile .social {
		float: none;
		text-align: center;
	} 

	#footermobile .social img {
		padding: 0 10px;
		margin-left: 0;
	}

	.social {
		margin-top: 25px;
	}

	.copyrigh p {
		font-size: 10px !important;
		margin-top: 15px;
	}

	.copyrigh p a {
		text-decoration: none;
		color: #999;
	}

	.copyrigh p a:hover {
		color: #fff;
	}

	.desk-mobile {
		display: block;
	}



	.hot-now-img {
		display: none;
	}

	.small-header {
		font-size: 14px;
	}

	.order-dmn {
		margin: 10px 0;
		line-height: 22px;
		font-size: 16px;
	}

	.hot-now {
		padding: 15px 0px;
	}

	.btn {
		padding: 5px 10px;
		font-size: 12px;
	}

	.page-title {
		font-size: 18px;
		padding: 10px 15px;
		width: inherit;
		margin-top: 140px;
	}

	#section-domains, #section-hosting {
		height: 210px;
	}

}


@media handheld, only screen and (min-width: 321px) and (max-width: 480px) {
	#top-navbar, #navbar {
		display: none;
	}

	.navbarmobile {
		background: #fff;
		padding: 10px 0;
	}

	.logomob {
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}

	.logomob img {
		max-width: 60%;
	}

	.search-ctn {
		width: 99%;
		height: 48px;
		float: left;
	}

	.domain-search {
		float: none;
		width: 100%;
	}

	.www {
		font-size: 16px;
		padding-left: 5px;
		padding-top: 10px;
	}

	.tagline {
		font-size: 22px;
		line-height: 26px;
		margin-top: 50px;
		padding: 10px 10px;
	}

	.learn-more {
		width: inherit;
		padding: 20px 10px;
		line-height: 22px;
		font-size: 16px;
	}

	.learn-more a {
		padding: 8px 10px;
	}

	.get-domain {
		font-size: 18px;
		margin: 40px 0 20px;
	}

	#radio-demo {
		margin-top: 95px;
	}

	#radio-demo input[type="radio"] + label {
		font-size: 12px;
	}

	#section2 select {
		font-size: 21px;
		 margin-left: 0px; 
		height: 37px;
		width: 100px;
		background-position: 70px 11px;
	}

	.domain-search input[type="text"] {
		width: 79%;
		padding-left: 4px;
		height: 40px;
		font-size: 16px;
	}

	.domain-search {
 		margin-bottom: 2px;
 	} 

 	#mobilemenunav {
		width: 94% !important;
		top: 64px !important;
	}

 	#section2 input[type="submit"] {
		float: left;
		margin-right: 0;
		margin-top: 71px;
		margin-left: -100px;
		font-size: 14px;
		padding: 10px 15px;
	}

	

	.worldclass {
		font-size: 20px;
		text-align: left;
		margin-bottom: 10px;
	}

	#section1 {
		height: 430px;
	}

	#section3 {
		margin: 40px auto;
	}

	.offering {
		color: #000;
		font-size: 16px;
		text-align: left; 
		line-height: 24px;
	}

	.client-logo {
		width: 100%;
		margin: 25px auto 0; 
	}

	#section5 p {
		padding: 14px 0;
		font-size: 18px;
	}

	.footer-links {
		display: none;
	}

	.copyright {
		display: none;
	}

	#payment {
		display: none;
	}

	#footer {
		padding: 30px 0 0;
	}

	#footermobile p {
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}

	#footermobile .social {
		float: none;
		text-align: center;
	} 

	#footermobile .social img {
		padding: 0 10px;
		margin-left: 0;
	}

	.social {
		margin-top: 25px;
	}

	.copyrigh p {
		font-size: 10px !important;
		margin-top: 15px;
	}

	.copyrigh p a {
		text-decoration: none;
		color: #999;
	}

	.copyrigh p a:hover {
		color: #fff;
	}

	.desk-mobile {
		display: block;
	}



	.hot-now-img {
		display: none;
	}

	.small-header {
		font-size: 14px;
	}

	.order-dmn {
		margin: 10px 0;
		line-height: 24px;
		font-size: 18px;
	}

	.hot-now {
		padding: 20px 10px;
	}

	.btn {
		padding: 5px 10px;
		font-size: 12px;
	}

	.page-title {
		font-size: 20px;
		padding: 15px 15px;
		width: inherit;
		margin-top: 150px;
	}

	#section-domains, #section-hosting {
		height: 250px;
	}


}


@media handheld, only screen and (min-width: 481px) and (max-width: 600px) {
	#top-navbar, #navbar {
		display: none;
	}

	.navbarmobile {
		background: #fff;
		padding: 10px 0;
	}

	.logomob {
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}

	.logomob img {
		max-width: 60%;
	}

	.domain-search input[type="text"] {
		width: 78%;
		padding-left: 1px;
		font-size: 15px;
	}

	.search-ctn {
		width: 65%;
		height: 47px;
		float: left;
	}

	.domain-search {
		float: none;
		width: 99%;
	}

	.tagline {
		font-size: 26px;
		line-height: 30px;
		margin-top: 70px;
		padding: 10px 10px;
	}

	.learn-more {
		width: inherit;
		padding: 20px 10px;
		line-height: 24px;
		font-size: 18px;
	}

	#section2 select {
		font-size: 16px;
		margin-left: 5px;
		width: 72px;
		background-position: 51px 18px;
	}

	#radio-demo input[type="radio"] + label {
		font-size: 12px;
	}

	.www {
		font-size: 16px;
		padding-left: 10px;
		padding-top: 12px;
	}

	.learn-more a {
		padding: 8px 10px;
	}

	.get-domain {
		font-size: 18px;
		margin: 40px 0 20px;
	}

	.desk-mobile input[type="text"] {
		width: 97%;
		padding-left: 10px;
		height: 40px;
		font-size: 16px;
	}

	.domain-search {
 		margin-bottom: 2px;
 	} 

 	#mobilemenunav {
		width: 95% !important;
	}

	#section2 input[type="submit"] {
		float: left;
		font-size: 12px;
		margin-left: 3px;
		padding: 19px 11px;
	}

	#section2 {
		height: 240px;
	}

	.worldclass {
		font-size: 24px;
		text-align: left;
		margin-bottom: 15px;
	}

	#section1 {
		height: 430px;
	}

	#section3 {
		margin: 40px auto;
	}

	.offering {
		color: #000;
		font-size: 16px;
		text-align: left; 
		line-height: 24px;
	}

	.client-logo {
		width: 100%;
		margin: 25px auto 0; 
	}

	#section5 p {
		padding: 20px 0;
		font-size: 24px;
		line-height: 28px;
	}

	.footer-links {
		display: none;
	}

	.copyright {
		display: none;
	}

	#payment {
		display: none;
	}

	#footer {
		padding: 30px 0 0;
	}

	#footermobile p {
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}

	#footermobile .social {
		float: none;
		text-align: center;
	} 

	#footermobile .social img {
		padding: 0 10px;
		margin-left: 0;
	}

	.social {
		margin-top: 25px;
	}

	.copyrigh p {
		font-size: 10px !important;
		margin-top: 15px;
	}

	.copyrigh p a {
		text-decoration: none;
		color: #999;
	}

	.copyrigh p a:hover {
		color: #fff;
	}

	.desk-mobile {
		display: block;
	}





	.hot-now-img {
		display: none;
	}

	.small-header {
		font-size: 16px;
	}

	.order-dmn {
		margin: 15px 0;
		line-height: 29px;
		font-size: 23px;
			}

	.hot-now {
		padding: 25px 20px;
	}

	.btn {
		padding: 8px 13px;
	}

}


@media handheld, only screen and (min-width: 601px) and (max-width: 768px) {
	#top-navbar, #navbar {
		display: none;
	}

	.domain-search input[type="text"] {
		width: 79%;
		font-size: 18px;
	}

	#mobilemenunav {
		top: 64px;
	}

	.navbarmobile {
		background: #fff;
		padding: 10px 0;
	}

	.logomob {
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}

	.logomob img {
		max-width: 60%;
	}

	.search-ctn {
		width: 60%;
		float: left;
	}

	#section2 select {
	font-size: 18px;
	width: 82px;
	background-position: 57px 18px;
	}

	.domain-search {
		float: none;
		width: 99%;
	}

	.tagline {
		font-size: 28px;
		width: 90%;
		line-height: 30px;
		margin-top: 70px;
		padding: 10px 20px;
	}

	.www {
		font-size: 18px;
		padding-left: 10px;
		padding-top: 11px;
	}

	.learn-more {
		width: 50%;
		padding: 20px 20px;
		line-height: 24px;
		font-size: 18px;
	}

	.learn-more a {
		padding: 8px 10px;
	}

	.get-domain {
		font-size: 18px;
		margin: 40px 0 20px;
	}

	

	.desk-mobile input[type="text"] {
		width: 97%;
		padding-left: 10px;
		height: 40px;
		font-size: 16px;
	}

	.domain-search {
 		margin-bottom: 2px;
 	} 

 	#mobilemenunav {
		width: 96% !important;
		top: 64px !important;
	}

 	#section2 input[type="submit"] {
		margin-top: 0px;
		font-size: 16px;
		margin-left: 5px;
		padding: 16px 19px;
	}

	#section2 {
		height: 240px;
	}

	.worldclass {
		font-size: 24px;
		text-align: left;
		margin-bottom: 15px;
	}

	#section1 {
		height: 430px;
	}

	#section3 {
		margin: 40px auto;
	}

	.offering {
		color: #000;
		font-size: 16px;
		text-align: left; 
		line-height: 24px;
	}

	.client-logo {
		width: 100%;
		margin: 25px auto 0; 
	}

	#section5 p {
		padding: 20px 0;
		font-size: 24px;
		line-height: 28px;
	}

	.footer-links {
		display: none;
	}

	.copyright {
		display: none;
	}

	#payment {
		display: none;
	}

	#footer {
		padding: 30px 0 0;
	}

	#footermobile p {
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}

	#footermobile .social {
		float: none;
		text-align: center;
	} 

	#footermobile .social img {
		padding: 0 10px;
		margin-left: 0;
	}

	.social {
		margin-top: 25px;
	}

	.copyrigh p {
		font-size: 12px !important;
		margin-top: 15px;
	}

	.copyrigh p a {
		text-decoration: none;
		color: #999;
	}

	.copyrigh p a:hover {
		color: #fff;
	}

	.desk-mobile {
		display: block;
	}


	.table-head {
		background-color: #008fdd;
		font-size: 14px;
	}

	.table-ctn {
		font-size: 12px;
	}

	.btn-small {
		padding: 5px 9px;
	}

	.reg-fee, .rnw-fee, .trn-fee {
		text-align: center;
	}

	.hot-now-img {
		display: none;
	}

	.small-header {
		font-size: 18px;
	}

	.order-dmn {
		margin: 20px 0;
		line-height: 36px;
		font-size: 30px;
	}

	.hot-now {
		padding: 25px 20px;
	}

	.btn {
		padding: 10px 15px;
	}

	.page-title {
		font-size: 30px;
		width: 270px;
	}

}


@media handheld, only screen and (min-width: 685px) and (max-width: 768px) {
	.btn-small {
		padding: 5px 9px;
	}

	.view {
		padding: 15px 0 0 0;
	}
}

@media handheld, only screen and (min-width: 769px) and (max-width: 1000px) {
	#top-navbar, #navbar {
		display: none;
	}

	.desk-mobile {
		display: block;
	}

	.navbarmobile {
		background: #fff;
		padding: 15px 0;
	}

	.logomob {
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}

	.logomob img {
		max-width: 60%;
	}

	.search-ctn {
		width: 58%;
		float: left;
	}

	.domain-search {
		width: 99%;
	}

	.domain-search input[type="text"] {
		width: 83%;
		padding-left: 5px;
		font-size: 20px;
	}

	.search-ctn select {
		font-size: 22px;
		height: 51px;
		margin-top: 0px;
		padding-bottom: 3px;
		padding-left: 0px;
		width: 15%;
		background-position: 56px 18px;
	}

	#section2 input[type="submit"] {
		margin-left: 5px;
	}

	.www {
		padding-left: 10px;
		padding-top: 11px;
		font-size: 20px;
	}

	.tagline {
		font-size: 36px;
		line-height: 42px;
		margin-top: 90px;
		padding: 10px 20px;
	}

	.learn-more {
		width: 40%;
		padding: 30px 22px;
		line-height: 26px;
		font-size: 20px;
	}

	.learn-more a {
		padding: 8px 10px;
	}

	.get-domain {
		font-size: 18px;
		margin: 40px 0 20px;
	}

	
	.desk-mobile input[type="text"] {
		width: 97%;
		padding-left: 10px;
		height: 40px;
		font-size: 16px;
	}

	.domain-search {
 		margin-bottom: 2px;
 	} 

 	#mobilemenunav {
		width: 97% !important;
	}

 	#section2 input[type="submit"] {
		margin-top: 0px;
	}

	#section2 {
		height: 240px;
	}

	.worldclass {
		font-size: 24px;
		text-align: center;
		margin-bottom: 15px;
	}

	#section1 {
		height: 540px;
	}

	#section3 {
		margin: 40px auto;
	}

	.offering {
		color: #000;
		font-size: 16px;
		text-align: center; 
		line-height: 24px;
	}

	.client-logo {
		width: 100%;
		margin: 25px auto 0; 
	}

	#section5 p {
		padding: 20px 0;
		font-size: 24px;
		line-height: 28px;
	}

	.footer-links {
		display: block;
	}

	.copyright {
		display: block;
	}

	#payment {
		display: none;
	}

	#footer {
		padding: 30px 0 0;
	}

	.footright {
		display: none;
	}

	#footermobile {
		display: none;
	}

	#footermobile p {
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}

	.footcol {
		margin-right: 30px;
	}

	.copyright {
		padding: 20px 0;
	}

	.copyright p {
		margin-top: 0px; 
	}

	#footermobile .social {
		float: none;
		text-align: center;
	} 

	#footermobile .social img {
		padding: 0 10px;
		margin-left: 0;
	}

	.social {
		margin-top: 0px;
	}

	.copyrigh p {
		font-size: 12px !important;
		margin-top: 15px;
	}

	.copyrigh p a {
		text-decoration: none;
		color: #999;
	}

	.ft-hd {
		font-size: 12px;
		margin-bottom: 10px;
	}

	#footer ul li a {
		font-size: 10px;
	}

	.copyrigh p a:hover {
		color: #fff;
	}

	#footer ul li {
	text-decoration: none;
	margin-bottom: 0px;
	list-style: none;
	}

	#footermobile {
		display: none !important;
	}

}


@media handheld, only screen and  (min-width: 1001px) and  (max-width: 1024px) {
	
	.www {
		padding-top: 11px;
	}

	.right-nav ul li {
  		padding: 26px 20px 25px;
  	}

}

@media handheld, only screen and  (max-width: 1000px) {
	#mobilemenunav {
		background: #363636;
		position: absolute;
		top: 74px;
		padding:0 15px; 
		width: 90%;
		display: none;
		clear: both;
		z-index: 9999;

	}

	#mobilemenunav a {
		display: block;
		padding: 15px 0;
		text-transform: uppercase;
		font-size: 12px;
		border-bottom: 1px solid #636363;
		text-decoration: none;
		color: #fff;
	}

	.mobilemenu {
		float: right;
		padding: 5px;
		margin-top: 5px;
		cursor: pointer;
		background: #000;
		color: #fff;
		border-radius: 3px;
		margin-right: 15px;
	}

	#footermobile, .navbarmobile {
		display: block;
	}
}


/***** RESPONSIVE TABLE *****/

@media handheld, only screen and (min-width: 321px) and  (max-width: 684px) {

	.reg-fee, .rnw-fee, .trn-fee {
		width: 18%;
		text-align: center;
	}

	.dmn-name, .reg-fee, .rnw-fee, .trn-fee, .view {
		padding: 5px 0;
	}

	.table-head {
		border-bottom: 4px solid #006196;
		font-size: 8px;
	}

	.table-ctn {
		font-size: 10px;
		line-height: 15px;
	}

	.view a {
		color: #008fdd;
	}

	.no-bg {
		padding: 0;
		font-size: 8px;
		background: none;
	}


	}
}